{% extends 'base_accounts.html' %}

{% block title %}
    重置成功
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">密码已重置</h3>
                    <div class="alert alert-success" role="alert">
                        密码已经重置，前往登陆
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">回到登陆</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}