{% extends 'base_accounts.html' %}

{% block title %}
    Reset Your Password
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reset Your Password</h3>
                    <p>输入你的邮箱地址来接收密码重置链接</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary">发送</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}